body {
    // font-family: Courier Prime, Courier, monospace;
    font-family: Karla, sans-serif;
}
// ---------- view height ----------

.vh-90 {
    height: 90vh;
}

.vh-80 {
    height: 80vh;
}

// ---------- font sizes ----------

.fs-60 {
    font-size: 60px;
}


.fs-48 {
    font-size: 48px;
    line-height: 60px;
}

.fs-22 {
    font-size: 22px;
}

.fs-18 {
    font-size: 18px;
}

// ---------- standard colors ----------

.text-beige {
    color: rgba(237, 232, 225, 1);
    a {
        color: rgba(237, 232, 225, 1);
    }
}
.text-green {
    color: rgb(49, 76, 56);
    a {
        color: rgb(49, 76, 56);
    }
}

.bg-beige {
    background-color: rgba(237, 232, 225, 1);
}

.bg-green {
    background-color: rgb(49, 76, 56);
}


.btn-red {
    background-color: rgba(120, 12, 23, 1);
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: all 0.15s ease;
}

.link-item {
    font-size: 18px;
    color: rgb(49, 76, 56);
    text-decoration: none;
}


.card_background {
    background-color: rgb(234, 223, 216);
    cursor: pointer
}

.authentication_input_border {
    background: none;
    border: 1px solid rgba(237, 232, 225, 1);
    border-radius: 8px;
    color: rgba(237, 232, 225, 1);
    // font-size: 16px;
    padding: 15px 20px;

    &::placeholder {
        color: rgba(237, 232, 225, 1);
    }

    &:focus {
        background: none;
        border: 1px solid rgba(237, 232, 225, 1);
        color: rgba(237, 232, 225, 1);
        outline: none;
        box-shadow: none;
    }
} 

.cart-wrapper {
    position: relative;
    .counter {
        position: absolute;
        top: -20px;
        left: 125px;
        bottom: 0;
        background-color: rgb(49, 76, 56);
        color:rgb(240, 222, 210);
        height: 30px;
        width: 30px;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cart {
        font-size: 18px;
        color:rgb(49, 76, 56);
        text-decoration: none; 
        background-color:white;
        padding: 8px 15px;
        border-radius: 20px;
    }
}

.account {
    background-color:white;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.shop-item {
    background-color: rgb(240,236,228);
    padding: 100px;
    border-radius: 15px;
}

.product-weight-btn {
    border: 2px solid rgb(49, 76, 56);
    border-radius: 15px;
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(49, 76, 56);;
}
.cart-product {
    background-color: rgb(234, 223, 216);
}

.cart_image {
    height: 200px;
    display: flex;
    img {
        height: 100%;
        width: auto;
        object-fit: cover;
    }
}

.click {
    cursor: pointer;
}

.edit_product {
    position: absolute;
    top: 10px;
    left: 50px;
    display: flex;
    justify-content: flex-end;
    border: 3px solid rgb(49, 76, 56);
    background-color: rgb(234, 223, 216);
    padding: 7px;
    border-radius: 50%;
    &:hover {
        border: 3px solid rgb(49, 76, 56);
        background-color: rgb(49, 76, 56);
        padding: 7px;
        border-radius: 50%;
    }
}

.swal_styling {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    label {
        display: flex;
        justify-content: flex-start;
        margin-left: 40px;
    }
    input {
        margin-top: 5px;
    }
}

.devider {
    height: 4px;
    max-width: 100%;
    background-color: rgb(234, 223, 216);
}

.footer_image {
    height: 100px;
    width: 100px;
    // padding: 15px;
}